# Análise de dados

O Pandas é uma biblioteca do Python utilizada para análise e manipulação de dados e nos permite trabalhar de forma rápida e eficiente com arquivos do tipo csv,excel,txt,etc.

A biblioteca fornece duas maneiras de estruturar os nossos dados: 
1. O DataFrame que possui uma estrutura tabular de N-dimensões, onde cada coluna é um campo da tabela e cada linha um registro.
2. A Series que é uma matriz unidimensional que contém uma sequencia de valores acompanhado de seus respectivos índices.

### Estrutura do noteebok:

[1. Importação da biblioteca Pandas](#1.-Importa%C3%A7%C3%A3o-da-biblioteca-Pandas)<br>
[2. Leitura da base](#2.-Leitura-da-base)<br>
[3. Definição do índice](#3.-Defini%C3%A7%C3%A3o-do-%C3%ADndice)<br>
[4. Consultando os dados](#4.-Consultando-os-dados)<br>
[5. Analisando um DataFrame com o Profiling](#5.-Analisando-um-DataFrame-com-o-Profiling:)<br>
[6. Data Cleaning com o Pandas](#6.-Data-Cleaning-com-o-Pandas)<br>
[7. Fontes](#7.-Fontes)<br>

### 1. Importação da biblioteca Pandas

In [2]:
import pandas as pd

### 2. Leitura da base

In [4]:
pd.read_csv('https://github.com/wcota/covid19br/raw/master/cases-brazil-cities-time_changesOnly.csv.gz').reset_index().to_csv('cases-brazil-cities-time.csv', index=False)

In [3]:
read_path = 'cases-brazil-cities-time.csv'

In [4]:
df = pd.read_csv(read_path)

In [5]:
#Colunas presentes do dataFrame
df.columns

Index(['index', 'epi_week', 'date', 'country', 'state', 'city', 'ibgeID',
       'newDeaths', 'deaths', 'newCases', 'totalCases',
       'deaths_per_100k_inhabitants', 'totalCases_per_100k_inhabitants',
       'deaths_by_totalCases', '_source', 'last_info_date'],
      dtype='object')

In [6]:
#Exibe as informações de cada coluna, inclusive número total da amostra: 1557786
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1557786 entries, 0 to 1557785
Data columns (total 16 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   index                            1557786 non-null  int64
 1   epi_week                         1557786 non-null  int64
 2   date                             1557786 non-null  object
 3   country                          1557786 non-null  object
 4   state                            1557786 non-null  object
 5   city                             1557786 non-null  object
 6   ibgeID                           1557786 non-null  int64
 7   newDeaths                        1557786 non-null  int64
 8   deaths                           1557786 non-null  int64
 9   newCases                         1557786 non-null  int64
 10  totalCases                       1557786 non-null  int64
 11  deaths_per_100k_inhabitants      1557786 non-null  float64
 12  totalCases_per_100k_inhabitants  1557786 non-null  float64
 13  deaths_by_totalCases             1557786 non-null  float64
 14  _source                          1557073 non-null  object
 15  last_info_date                   1557073 non-null  object
dtypes: float64(3), int64(7), object(6)
memory usage: 190.2+ MB

In [7]:
#Começa em zero, vai até 1557786 pulando de 1 em 1.
df.index

RangeIndex(start=0, stop=1557786, step=1)

### 3. Definição do índice

In [8]:
#Atribuimos a coluna index como novo índice, do Datafrae, atráves do parâmetro inplace.
df.set_index('index', inplace=True)
df.head()

,epi_week,date,country,state,city,ibgeID,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
index,,,,,,,,,,,,,,,
0,9,2020-02-25,Brazil,SP,São Paulo/SP,3550308,0,0,1,1,0.0,0.008,0.0,SES,2021-12-06
1,9,2020-02-25,Brazil,TOTAL,TOTAL,0,0,0,1,1,0.0,0.000,0.0,NaN,NaN
2,9,2020-02-28,Brazil,SP,São Paulo/SP,3550308,0,0,1,2,0.0,0.016,0.0,SES,2021-12-06
3,9,2020-02-28,Brazil,TOTAL,TOTAL,0,0,0,1,2,0.0,0.001,0.0,NaN,NaN
4,10,2020-03-04,Brazil,SP,São Paulo/SP,3550308,0,0,1,3,0.0,0.024,0.0,SES,2021-12-06

### 4. Consultando os dados

In [9]:
#Retorne todas as informações do 1º individuo, utilizando loc
df.loc[1]

epi_week                                    9
date                               2020-02-25
country                                Brazil
state                                   TOTAL
city                                    TOTAL
ibgeID                                      0
newDeaths                                   0
deaths                                      0
newCases                                    1
totalCases                                  1
deaths_per_100k_inhabitants               0.0
totalCases_per_100k_inhabitants           0.0
deaths_by_totalCases                      0.0
_source                                   NaN
last_info_date                            NaN
Name: 1, dtype: object

In [10]:
#Retorna os 5 primeiros casos onde na coluna total de casos seja maior que 1 ou novos casos maior que 1, utilizando o query
df.query('totalCases > 1 | newCases > 1').head(5)

,epi_week,date,country,state,city,ibgeID,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases,_source,last_info_date
index,,,,,,,,,,,,,,,
2,9,2020-02-28,Brazil,SP,São Paulo/SP,3550308,0,0,1,2,0.0,0.016,0.0,SES,2021-12-06
3,9,2020-02-28,Brazil,TOTAL,TOTAL,0,0,0,1,2,0.0,0.001,0.0,NaN,NaN
4,10,2020-03-04,Brazil,SP,São Paulo/SP,3550308,0,0,1,3,0.0,0.024,0.0,SES,2021-12-06
5,10,2020-03-04,Brazil,TOTAL,TOTAL,0,0,0,1,3,0.0,0.001,0.0,NaN,NaN
7,10,2020-03-05,Brazil,SP,São Paulo/SP,3550308,0,0,3,6,0.0,0.048,0.0,SES,2021-12-06

### 5. Analisando um DataFrame com o Profiling:

In [11]:
import pandas_profiling

Com o Pandas Profiling temos informações e uma visão geral sobre o nosso conjunto de dados: nome das colunas e seus tipos, a quantidade de linhas e de colunas, e a porcentagem de valores Missing (dados faltantes).
Podemos ainda observar informações específicas para cada variável do DataFrame, como a média, o valor máximo, o valor mínimo, a quantidade de valores únicos e por último mais de extrema importância, um gráfico de correlação entre as variáveis.

Como a amostra é muito grande e meu computador não tem lá toda essa capacidade, sempre que eu deixo rodando leva horas para executar, por isso deixarei o comando comentado. Se o seu computador tiver uma boa memória, manda ver.

profile = pandas_profiling.ProfileReport(df, title='Covid base',
                 html={'style': {'full_width': True}}, sort="ascending")
profile

A linha de código acima cria um relatório de análise exploratória em HTML com os dados. O resultado será exibido em relatório no próprio Notebook, no entanto, caso queria salvar em um arquivo HTML pode executar o código:
profile.to_file('Covid.html')

In [12]:
#verificando dados estatísticos
df.describe()

,epi_week,ibgeID,newDeaths,deaths,newCases,totalCases,deaths_per_100k_inhabitants,totalCases_per_100k_inhabitants,deaths_by_totalCases
count,1.557786e+06,1.557786e+06,1.557786e+06,1.557786e+06,1.557786e+06,1.557786e+06,1.557786e+06,1.557786e+06,1.557786e+06
mean,9.716561e+01,3.290185e+06,8.199817e-01,2.504003e+02,3.529755e+01,9.038872e+03,1.233590e+02,6.019286e+03,2.487765e-02
std,5.182002e+01,1.010766e+06,2.576453e+01,8.340825e+03,1.159999e+03,3.052493e+05,1.143814e+02,5.279947e+03,3.153925e-02
min,9.000000e+00,0.000000e+00,-1.789000e+03,0.000000e+00,-1.272940e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.300000e+01,2.603900e+06,0.000000e+00,4.000000e+00,1.000000e+00,2.450000e+02,3.312400e+01,1.762115e+03,1.300000e-02
50%,1.110000e+02,3.170206e+06,0.000000e+00,1.500000e+01,4.000000e+00,7.530000e+02,8.986300e+01,4.626730e+03,2.000000e-02
75%,1.280000e+02,4.123303e+06,0.000000e+00,4.800000e+01,1.100000e+01,2.262000e+03,1.861700e+02,9.118541e+03,2.900000e-02
max,2.070000e+02,5.300108e+06,4.148000e+03,6.386730e+05,2.854510e+05,2.749290e+07,1.739130e+03,2.192422e+05,4.000000e+00

### 6. Data Cleaning com o Pandas

Esse problema é muito comum e deve ser tratado, já que os modelos de Machine Learning não são capazes de lidar com valores ausentes. Vale lembrar que não se deve fazer isso caso não seja necessário. Tudo vai depender da pesquisa que se quer fazer. Muitas das vezes, a depender da variável, ela pode simplesmente ser excluida, caso não sirva para a análise.

In [14]:
#Retorna a soma dos valores nulos encontrados por coluna
df.isnull().sum()

epi_week                             0
date                                 0
country                              0
state                                0
city                                 0
ibgeID                               0
newDeaths                            0
deaths                               0
newCases                             0
totalCases                           0
deaths_per_100k_inhabitants          0
totalCases_per_100k_inhabitants      0
deaths_by_totalCases                 0
_source                            365
last_info_date                     365
dtype: int64

In [16]:
#Preencher os valores faltantes das colunas com a moda. 
values = {'_source': df._source.mode()[0], 'last_info_date': df.last_info_date.mode()[0]}

In [17]:
values

{'_source': 'SES', 'last_info_date': '2021-12-06'}

In [18]:
# Atribuido os novos valores
df.fillna(value=values, inplace=True)

In [19]:
df.isnull().sum()

epi_week                           0
date                               0
country                            0
state                              0
city                               0
ibgeID                             0
newDeaths                          0
deaths                             0
newCases                           0
totalCases                         0
deaths_per_100k_inhabitants        0
totalCases_per_100k_inhabitants    0
deaths_by_totalCases               0
_source                            0
last_info_date                     0
dtype: int64

### 7. Fontes

- Utilização do Python com a biblioteca Pandas.

    1. https://medium.com/@jair.oliveira1204/an%C3%A1lise-explorat%C3%B3ria-de-dados-com-pandas-profiling-8c2edeeb6958
    2. https://towardsdatascience.com/exploratory-data-analysis-with-pandas-profiling-de3aae2ddff3